<h1>Post-It Notes</h1>
<%= link_to 'New Post-It', new_note_path %>
<% @notes.each do |note| %>
  <h2><%= note.postIts %></h2>
  <%= link_to 'Show Note', note_path(note) %>
  <%= link_to 'Edit Note', edit_note_path(note) %>
  <% end %>  